# =========================
# Django
# =========================

DJANGO_SECRET_KEY=your-local-secret-key
DJANGO_DEBUG=True


# =========================
# PostgreSQL
# =========================

POSTGRES_DB=your-database-name
POSTGRES_USER=your-local-postgres-user
POSTGRES_PASSWORD=your-local-postgres-password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432


# =========================
# TMDB API
# =========================

TMDB_API_TOKEN=your-tmdb-api-token